%footer
	%nav.round
		%ul
			%li= link_to "About", about_path
			%li= link_to "Contact", contact_path
			%li= link_to "News", "http://news.railstutorial.org/", :target => "_blank"
			%li= link_to "Rails Tutorial", "http://railstutorial.org/", :target => "_blank" 
			%li= link_to "Rails API", "http://api.rubyonrails.org/", :target => "_blank"
.below_footer
	%a{:href => "http://www.rubyheroes.com", :title => "Ruby Hero Awards", :target => "_blank"}
		%img{:alt => "Ruby Hero Awards", :src => "http://rubyheroes.com/images/banner_small.png"}/